@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-text text-white paragraph rounded-md shadow-md shadow-green/50 hover:shadow-xl hover:shadow-green/50;
  }
  .btn-outline {
    @apply py-2 px-5 bg-white text-text paragraph rounded-md shadow-lg shadow-purple/50 hover:shadow-xl hover:shadow-purple/50;
  }
}

.heading {
  font-family: 'Inter', sans-serif;
  font-weight: 800; /* Extra bold */
  font-size: 70px;
}

.subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 16px;
}

.paragraph {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500; /* Medium */
  font-size: 16px;
}
